body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #23282c;
    text-align: left;
    background-color: #e4e5e6;
}

.myContainer{
    padding: 0 30px;
}

.card-header .btn-secondary {
    color: #23282c;
    background-color: #c8ced3;
    border-color: #c8ced3;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3;
}

.card-header .btn {
    padding: .25rem .5rem;
    font-size: .76562rem;
    line-height: 1.5;
    border-radius: .2rem !important;   
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}


.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f0f3f5;
    border-top: 1px solid #c8ced3;
}

.card-footer .btn {
    margin-right: 15px;
}

.card-footer .btn:last-child{
    margin-right: 0px;
}

.breadcrumb {
    position: relative;
    border-radius: 0;
    border-bottom: 1px solid #c8ced3;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1.5rem;
    list-style: none;
    background-color: #fff;
}

.alert {
    font-size: 0.9em;
    padding: 6px 10px;
}

.alert-dismissible .close{
    padding: 4px 10px;
}

.labelField {
    display: block;
    padding-top: .5em;
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: .2rem;
    font-size: .85em;
}

.spanField {
    display: block;
    font-size: 1em;
    height: 1em;
}

.card, .card-header, .btn, .breadcrumb, .form-control, .rc-checkbox, .alert {
    border-radius: 0px;
}

.h6, h6 {
    font-size: .875rem;
    text-shadow: 0px 1px 2px rgba(150, 150, 150, 1)
}

table {
    border-collapse: collapse;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-outline {
    border: 1px solid #c8ced3;
}

.table .thead-light th {
    color: #5c6873;
    background-color: #e4e7ea;
    border-color: #c8ced3;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c8ced3;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #c8ced3;
}

.table-align-middle td, .table-outline td {
    vertical-align: middle;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #c8ced3;
}

.table .baseField{
    margin-bottom: 7px !important;
}

.table .row{
    margin-bottom: 0px !important;
}

.table .labelField{
    margin-bottom: 0px !important;
    padding-top: 0px;
}


.form-check-input{
    margin-left: 0px;
}

.rc-checkbox {
    margin-top: 8px;
    margin-left: 3px;
}

.rc-checkbox-checked .rc-checkbox-inner{
    border-color: #007bff;
    background-color: #007bff;
}
.rc-checkbox-inner{
    top: 0;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.rc-checkbox-checked .rc-checkbox-inner:after{
    width: 8px;
    height: 13px;
    left: 5px;
    top: 0px;
}

.rc-checkbox-inner:after {
    width: 8px;
    height: 13px;
    left: 5px;
    top: 0px;
}

.rc-checkbox-input {
    width: 20px;
    height: 20px;
}